@using DBGestaoEmpresarial.Domain.Entities.Enums


<PageTitle>Employes</PageTitle>

    <EditForm style="display: flex; align-items: center; gap: 1rem;" Method="post" FormName="NewEmploye" OnValidSubmit="AddEmploye" Model="newEmploye">
        <DataAnnotationsValidator />
      

        <div class="w-100">
              <div class="row justify-content-center w-100">

            <div class="col-md-6">
                <label>Name</label>
                <InputText id="titulo" @bind-Value="newEmploye.Name" class="form-control" />
                <ValidationMessage For="@(() => newEmploye.Name)"></ValidationMessage>
            </div>
        
            <div class="col-md-3">
                <label>Cargo</label>
                <InputSelect class="form-control" @bind-Value="newEmploye.IdCargo">
                    <option value="0">Selecione o Cargo</option>
                    @foreach (EnumRules rules in Enum.GetValues(typeof(EnumRules)))
                    {
                            <option value="@((int)rules)">@rules</option>

                    }
                </InputSelect>

                 <ValidationMessage For="@(() => newEmploye.IdCargo)"></ValidationMessage>
            </div>
        
            <div class="col-md-3">
                <label>Salario</label>
                <InputNumber class="form-control" @bind-Value="newEmploye.Salario" />
                 <ValidationMessage For="@(() => newEmploye.Salario)"></ValidationMessage>
            </div>

        </div>

        <div class="row justify-content-center w-100 mt-2">

             <div class="col-md-3">
                 <label>Email</label>
                  <InputText id="email" @bind-Value="newEmploye.Email" class="form-control" />
                  <ValidationMessage For="@(() => newEmploye.Email)"></ValidationMessage>
              </div>

               <div class="col-md-3">
                 <label>Endereço</label>
                  <InputText id="Endereço" @bind-Value="newEmploye.Endereco" class="form-control" />
              </div>

               <div class="col-md-3">
                 <label>Telefone</label>
                  <InputText id="Telefone" @bind-Value="newEmploye.Telefones" class="form-control" />
                   <ValidationMessage For="@(() => newEmploye.Telefones)"></ValidationMessage>
              </div>
        
                <div class="col-md-3 d-flex align-items-end " style="margin-top: 1.5rem;">
                    <button class="btn btn-primary" type="submit">Add Employee</button>
                </div>
        </div>

        </div>
      
  
    </EditForm>


@code {
    [SupplyParameterFromForm(FormName = "NewEmploye")]
    public Employe newEmploye { get; set; }

    protected override void OnInitialized()
    {
        newEmploye ??= new Employe("", 0, 0, true);
    }

    public async Task AddEmploye()
    {
    
       await employeRepository.AddEmploye(newEmploye);
    }
}
